*{
 margin: 0;
 padding: 0%;
 box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
    background-color: #EEF2F7;
    
    
}
.resume{
    display: inline-block;
    background-color: #1066c2;
    color: #EEF2F7;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
     box-shadow: 0 4px 6px rgba(0,0,0.1);
     transition: ba;
}
 a:hover{
    background-color: #57B52A;
     padding-left: 20px;

}
.resume1{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    flex-direction: row;
    margin-top: 60px;
}

.container{
    background-color: #0B2D6B;
    color: #EEF2F7;
    width: 230px;
    height: 1650px;
    text-align: center;
    padding: 9px;
    
}
h2{
    padding: 20px;
    
}

 nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 nav a {
   background-color:  #2e4b80;
    display: block;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 12px 20px;
    color: #EEF2F7;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0.5);
    width: 200px;
 }
 nav a:hover{
    background-color:#57B52A;
    padding-left: 30px;
 }


.p2{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #0B2D6B;
    color: white;;
    width: 1070px;
    height: 125px;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 5px;
    border-radius: 15px;
    box-sizing: border-box;
}
.p2 img{

    border-radius: 50%;
    width: 100px;
    height: 110px;
    object-fit: cover;
    border: 3px solid white;
    object-position: top center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: high-quality;
    transform: translateZ(0)

}
.p2 h1{
    line-height: 1.6;
}
.p2 p{
    font-size: 14px;
    line-height: 1.6;
}

.p3{
    background-color: #57B52A;
    position: absolute;
    height: 265px;
    width: 1070px;
    display: flex;
    top: 200px;
    right: 25px;
    border-radius: 12px;
    text-align: center;
    /* margin-top: 50px; */
}
.p4{
    background-color: #FFFFFF;
   
    position: absolute;
    height: 265px;
    width: 1070px;
    display: flex;
    left: 5px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}

.p4 h3{
    color: #0B2D6B;
    text-align: center;
    left: 10px;
}

.box{
  height: 130px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 60px;
  display: block;
  margin-bottom: 25px;
  
  
}

.p4{
    justify-content: space-evenly;
     
}

.p4 h3{
    height: 0px;
    width: 0px;
    display: block;
    justify-content: center;
}

.p4 .b1{
    margin-top: 90px;
    margin-left: 30px;
    float: left;
    clear: both;
    background-color: rgb(196, 216, 216);
}
.b2{
    margin-top: 90px;
    background-color: rgb(111, 207, 175);
    

}
.p4 .b3{
    margin-top: 90px;
    margin-right: 5px;
    float: right;
    clear: both;
    background-color: rgb(245, 203, 149);
    

}


.p5{
    background-color: #57B52A;
    position: absolute;
    height: 265px;
    width: 1070px;
    display: flex;
    top: 500px;
    right: 25px;
    border-radius: 12px;
    text-align: center;
    /* margin-top: 50px; */
}
.p6{
    background-color: #FFFFFF;
   
    position: absolute;
    height: 265px;
    width: 1070px;
    display: flex;
    left: 5px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}
.h3{
    height: 0px;
    width: 0px;
}

.p6 .b1{
   background-color: cadetblue;
   height: 5px;
   width: 900px;

}
.p6 .b2{
    background-color: rgb(68, 6, 150);
   height: 5px;
   width: 500px;

}
